@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Select Door</h2>
        <div>
            <div>Door Name: </div>
            <select id="lockDropDown"></select>
            <input id="btnOpenDoor" type="button" value="Open Door" />
        </div>
    </div>
    <div class="col-md-6">
        <h2>Response</h2>
        <ul>
            <div class="">
                <span>ResponseCode:</span>
                <span style="color:darkblue;" id="responseCode"></span>
            </div>
            <br />
            <div>
                <span>ResponseMessage:</span>
                <span style="color:darkblue;" id="responseMessage"></span>
            </div>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.getJSON("http://localhost:5003/api/v1/Locks/", function (result) {
            $('#lockDropDown').empty();
            $('#lockDropDown').append($('<option>').text("Select"));
            $.each(result, function (i, obj) {
                $('#lockDropDown').append($('<option>').text(obj.name).attr('value', obj.lockId));
            });
        });
        var access_token = "@ViewData["token"]"
        $("#btnOpenDoor").click(function () {
            var lockId = $('#lockDropDown').find(":selected").val()
            $.ajax({
                url: 'http://localhost:5001/api/v1/Locking/' + $('#lockDropDown').val()+'/Lock',
                dataType: 'json',
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "application/json",

                },
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify({
                    "UserId": "9a825029-bed8-40a8-8904-759f4f91559b",
                    "LockId": lockId
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "BEARER " + access_token);
                },
                success: function (data) {
                    console.log(data);
                    $('#responseCode').text(data.responseCode);
                    $('#responseMessage').text(data.responseMessage);                    
                },
                error: function (data, errorThrown) {
                    alert(3);
                }
            });
        });
    });
</script>
